.content-flags {
  margin-top: 60px;
  width: 100%;
  min-width: 970px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-tab {
  margin-top: 54px;
  max-width: 50%;
  border-radius: 10px;
}

.container-card :hover {
  background: #e91e63;
  color: #fff;
}

.h1 {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.information,
.body-card {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.title-card {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: 1px solid #e3e9ed;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
