.skillbar {
  display: table;
  content: '';
  margin-bottom: 24px;
  width: 100%;
}

.skillbar-title {
  display: inline-block;
  vertical-align: middle;
}

.skillbar-percentage {
  float: right;
  vertical-align: middle;
}

.skillbar-bar {
  background: #000;
  width: 100%;
  height: 5px;
}

.skillbar-child {
  height: 100%;
  background: #e91e63;
}
