.navbar {
  margin-top: 10px;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
  height: 100%;
  max-height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.scroll .a {
  color: #e91e63;
}

.scroll .link-nav {
  color: #333333;
}

.scroll .link-nav:active {
  color: #e91e63;
  border-bottom: 1px solid #e91e63;
  padding-bottom: 15px;
}
