.navbar {
  margin-top: 10px;
  z-index: 1030;
  max-height: 130px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }
}
