.container-contact {
  width: 100%;
  min-width: 970px;
  padding: 60px 0;
}

.content-cards-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}

.contact-me {
  width: 100%;
  max-width: 400px;
  height: 100%;
  max-height: 400px;
  margin: 15px;
  height: auto;
  animation-delay: 0.2s;
  border-radius: 10px;
  text-align: center;
}

.icon-social {
  color: #212121;
}

@media (max-width: 768px) {
  .content-cards-contact {
    flex-direction: column;
  }
  .contact-me {
    max-width: 95%;
    overflow-x: hidden;
  }
}
